<style>
    .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    
  }
  .playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }
  .table {
    max-height: 300px; overflow-y: auto;
  }
  .back-img {
      height: 100vh;
      background-image: url("cleaned_ticket.png");
      background-size: contain;
      background-position: left;
    }
  
  </style>
  
    <div class="row">
      <div class="col-lg-6 back-img" ></div>
      <div class="col-lg-6" style="background-color: #c89a8e; padding-left: 20px;padding-right: 20px;">
        <br>
        <div class="col-lg-12">
          <h1 class="text-center">PARTICIPANTS</h1>
        </div>
        <button class="btn btn-primary" type="button" (click)="backtoregistation()">Back To Registration</button>
        <br>
        <div style="max-height: 550px; overflow-y: auto;">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let participants of data ; let i = index">
                        <th>{{ i + 1 }}</th>
                        <td style="text-transform: uppercase;">{{ participants.lastName }}, {{ participants.firstName }}</td>
                      </tr>
                </tbody>
              </table>
        </div>
      
      </div>
    </div>