<style>
  .pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  
}
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
.table {
  max-height: 300px; overflow-y: auto;
}
.full-height {
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
}
        .halloween-card {
            background-color: white; /* Halloween color */
            border: 2px solid #ffcc00; /* Black border */
        }
        .card-title {
            color: #ff6600; /* Orange color for title */
        }
        .countdown
        {
          color: #ff6600; 
        }
        .halloween-header {
            background-color: #ff6600; /* Orange header */
            padding: 20px;
            text-align: center;
            border-radius: 0.5rem;
        }
        .winner-list {
            margin-top: 20px;
        }
        .list-group-item {
            background-color: #333; /* Darker item background */
            border: none;
            position: relative;
            color: white;
            font-size: 25px;
            padding-left: 50px;
        }
        .list-group-item::before {
           
            position: absolute;
            left: 10px;
            font-size: 20px;
            
        }
    
      
</style>

    <div class="row">
      <div class="col-lg-5 full-height" style="padding-left: 30px; ">
        <div class="container mt-3">
          <div class="card halloween-card">
              <div class="card-header text-center">
                  <h3 class="card-title">Raffle Draw</h3>
              </div>
              <div class="card-body">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="mb-3">
                          <label for="prizeSelect" class="form-label">Select Prize</label>
                          <select class="form-select" id="prizeSelect" required [(ngModel)]="prizeTypeValue">
                              
                            <option value="0" disabled selected>Choose...</option>
                              <option *ngFor="let prize of prizes" [value]="prize.id">{{ prize.name }}</option>
                          </select>
                      </div>
                      </div>
                      <div class="col-lg-6">
                          
                      <div class="mb-3">
                        <label for="winnerSelect" class="form-label">Select No. of Winners</label>
                        <select class="form-select" id="winnerSelect" required [(ngModel)]="numberOfWinners">
                            <option value="0" disabled selected>Choose</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="17">17</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                            <option value="35">35</option>
                        </select>
                    </div>
                      </div>
                    </div>
      
      
                      <button type="button" class="btn btn-primary" id="drawButton" (click)="draw()">Draw</button>
                      <div class="row">
                        <span *ngIf="hasDrawn" class="countdown text-center" style="font-size: 200px;">{{ countdown }}</span>
                      </div>
              </div>
              <div class="card-footer" *ngIf="showTable">
               
                <div class="halloween-header">
                  <h5>🎉 Congratulations 🎉</h5>
              </div>
              <div style="max-height: 500px; overflow-y: auto;">
                <ul class="list-group winner-list">
                  <li class="d-flex list-group-item" *ngFor="let winner of data ; let i = index" style="text-transform: uppercase;">
                    {{i+1}}. {{ winner.firstName }} {{ winner.lastName }} ({{winner.department}})
                        <!-- <span class="rounded-pill"> ({{winner.department}})</span> -->
                  </li>
                </ul>
              </div>
              </div>
          </div>
      </div>

      </div>
      <div class="col-lg-7" style="padding-left: 20px;padding-right: 20px;">

       <br>
      
      
  <br>  
  <!-- <div class="row">
    <span *ngIf="hasDrawn" class="countdown text-center" style="font-size: 200px; color:gold">{{ countdown }}</span>
  </div>
  <div style="max-height: 550px; overflow-y: auto;">
      <table class="table table-striped table-bordered" *ngIf="showTable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let winner of data ; let i = index">
                <th>{{ i + 1 }}</th>
                <td style="text-transform: uppercase;">{{ winner.lastName }}, {{ winner.firstName }}</td>
              </tr>
        </tbody>
      </table>
    </div> -->
      </div>
    </div>